
.menu-part {
    background-color: #fff; /* #005A95;*/
    box-shadow: 1px 1px 2px 1px rgba(119, 119, 119, 0.75);
}

.menu-part .contain-to-grid.sticky.fixed {
    box-shadow: 0 0 5px 1px rgba(119, 119, 119, 0.75);
}

.username-error {
    color: #ffffff;
    font-weight: bold;
}

.username-error:hover{
    color: #ffffff;
    font-weight: normal;
}

.main-row {

    -moz-border-radius: 15px;
    border-radius: 15px;
    background: white;

}

.upper-right-menu  {

    margin: 4px;

    font-size: 80%;

}


.footer{

    background-color: #005a95;
    padding: 20px;
    font-size: 80%;
    color: #ffffff;
}


.footer p, .footer ul{


    font-size: 100%;
    color: #bababa;



}


.footer h3, .footer h4{



    color: #dedede;



}

.footer a, .footer a:active, .footer a:hover  {

    color: white;
}
.footer a:active, .footer a:hover  {
    text-decoration: underline;
}


.header-part{

    background-color: #fff;
}


.chosen-choices input {

    min-height: 25px;
}

label .chosen-container  {

   margin-bottom: 20px;

}


label.error .chosen-container  {
    margin-bottom: 0;


}



.hero .chosen-choices input {

              min-height: 35px;
          }

.hero .chosen-container  {

    margin: 0;

}

.hero .chosen-choices .search-field {

   /* height: 81px*/;

}






.searchButton{

    margin: 0;

}



table.table {


    width: 100%;
}

table.table .button {

    margin-bottom: 0;
}






.detailInfo p {
    font-size: 80%;
    margin-left: 25px;

}

.detailInfo  i {

    font-size: 20px;
    float: left;

}

.detailInfo h5 {
    margin-left: 25px;

}

.headerNavigationRight {

    margin-top: 1em;
    color: #6F6F6F;

}
